.h__title {
    font-size: var(--title-haiger);
    font-weight: 600;
}
.h_introduction {
    font-size: var(--title-ex);
    font-weight: var(--font-weight-title-medium);
}
.p__intro-description{
    font-size: var(--letter-large);
    font-weight: 400;
}
.p__article {
    font-size: var(--letter-medium);
    font-weight: 500;
}
.video__entrevista {
    height: 460px;
}
.h_bibliografias{
    font-size: var(--title-ex);
}
.a_bibliografias {
    font-size: var(--letter-large);
}
.div__container_article {
    max-width: 860px;
    padding: 0% 3% 3% 3%;
}
.container__article {
    grid-column-gap: 20px;
    grid-row-gap: 2px;
}
.h__title_article_name {
    padding: 3% 2% 2% 2%;
    font-weight: var(--font-weight-title-medium);
    font-size: var(--title-large);
}
.img__article{
    height: 410px;
}
.matriz {
    height: 680px;
}