.h__title {
    font-size: var(--title-haiger);
}
.h_introduction {
    font-size: var(--title-ex);
}
.p__intro-description{
    font-size: var(--letter-large);
}
.p__article {
    font-size: var(--letter-medium);
}
.p__article_autor {
    font-size: var(--letter-medium);
}
.video__entrevista {
    height: 460px;
}
.h_bibliografias{
    font-size: var(--title-ex);
}
.a_bibliografias {
    font-size: var(--letter-large);
}
.div__container_article {
    max-width: 460px;
    padding: 0% 1% 1% 1%;
}
.container__article {
    grid-column-gap: 10px;
    grid-row-gap: 2px;
}
.h__title_article_name {
    padding: 3% 2% 2% 2%;
    font-size: var(--title-medium);
}